
/******************/
/* GLOBAL LAYOUT  */
/******************/

 body {background-image:url(../img/background_sm.png);background-repeat: repeat-x; background-color:#DCEFF6;}
 .admin{font-size:15px;background-image:url(../img/background_sm2.png);background-repeat: repeat-x; background-color:#DCEFF6;}
 body, table, p {font-family:arial,sans-serif;font-size:15px;}
.content {width:960px; background-image:url(../img/white_gradient.png); background-repeat:repeat-x; overflow:auto; overflow:hidden /*IE6*/;padding:20px;}
.header {white-space:nowrap /*IE hack*/; width:960px; height:50px;padding-top:15px;font-size:18px /*Non-IE6*/; font-size:120% /*IE6*/;} 
.adminheader{white-space:nowrap /*IE hack*/; width:960px; height:90px;font-size:18px /*Non-IE6*/; font-size:120% /*IE6*/;}

/*********/
/* LINKS */
/*********/

/* Text links */
a {color:#000; font-weight:bold; text-decoration:none;}
a:hover {color:rgb(42,90,138); text-decoration:none;}
a:visited {color:rgb(42,90,138);}


.alignleft {float:left;}
.alignright {float:right;}
.aligncenter {text-align:center;}
.aligntop{vertical-align: text-top;}
.alignbottom{vertical-align: text-bottom;}

/*Tables*/
.tableform {
    width:100%;    
}

.tableform50 {
    width:50%;    
}

.tableform70 {
    width:70%;    
}

.tablewidth100{
    width:100%;
}

.tablewidth50{
    width:50%;
}

/*Form Elements*/
textarea{
    width:100%;
    height:50%;
    display:block;
}
.textarea_small{
    width:200px;
}

.textarea_large{
    width:100%;
    display:block;
}

.techreqtextsm{
    width:80px;    
}

.techreqtextlg{
    size:200px;    
}

.buttonsize{
    width: 150px;
    height:25px;
    font-size:12px;
}


input[type="text"]
{
    border:3px double #c3e1ef;
    font-size:15px;
    
}

#stakeholder input[type="text"]
{
    border:3px double #c3e1ef;
    font-size:15px;
    width:100%;
    
}


.figure{
    font-size:12px;
    color:#597EBC;
    padding:10px;
    
}

.confirmation{
    background-image: url(/rpms/img/white_gradient.png);
    background-repeat: repeat-x;
    width: 960px;
    height: 400px;
    padding:10px;   
}

.tooltips-red{
/*background:url(../img/tips_red.png) left bottom no-repeat;*/
background-color:#FF0000;
color:#FFFFFF;
text-align:center;
padding-top:4px;
}


#validEmail, #validPhone, #validStartDate, #validEndDate
{
        width: 200px;
        height: 20px;
        font-size:11px;
        padding:0px 2px 0px 2px;
        visibility:hidden;
}